{% extends "task_app/main.html" %}
{% block  content %}




{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<h1> My File_manager </h1>
<a href = "{% url 'task-create' %}"> Add task </a>

<table>
    <tr> 
        <th>  tasks  </th>
        <th>    </th>
        <th>    </th>
    </tr>
    {% for task in tasks %}
    <tr> 
        <td>  {{task.title}}  </td>
        <td> <a href = "{%  url 'task' task.id %}"> View </a> </td>
        <td> <a href = "{%  url 'task-update' task.id %}"> Edit </a> </td>    
        <td> <a href = "{%  url 'task-delete' task.id %}"> Delete </a> </td> 
    </tr>
    {% empty %}
    <h1> No tasks in list <h2>
    {% endfor %}
</table>


{% endblock content %}